{% extends 'base.html' %}
{% load static %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}
<main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="trending-tittle">
                            <strong>Qaynoq yangiliklar</strong>
                            <div class="trending-animated">
                                <ul id="js-news" class="js-hidden">
                                    {% for post in latest_posts %}
                                        {% if post %}
                                            <li class="news-item">{{ post.title }}</li>
                                        {% else %}
                                            <li>Hozircha postlar yo'q</li>
                                        {% endif %}
                                    {% empty %}
                                        <li>Hozircha postlar yo'q</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Latest Post with Image -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="trending-top mb-30">
                            <div class="trend-top-img">
                                {% if latest_post_with_image.image %}
                                    <img src="{{ latest_post_with_image.image.url }}" alt="So'nggi xabarlar">
                                {% else %}
                                    <p>Hozircha postlar yo'q</p>
                                {% endif %}
                                <div class="trend-top-cap">
                                    <span>{{ latest_post_with_image.category.name }}</span>
                                    <h2>
                                        <a href="{% url 'post_detail' latest_post_with_image.slug %}">
                                            {{ latest_post_with_image.title }}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <!-- Trending Bottom -->
                        <div class="trending-bottom">
                            <div class="row">
                                {% for all_post in all_posts %}
                                    <div class="col-lg-4">
                                        <div class="single-bottom mb-35">
                                            <div class="trend-bottom-img mb-30">
                                                {% if all_post.image %}
                                                    <img src="{{ all_post.image.url }}" alt="{{ all_post.title }}" width="240" height="160">
                                                {% else %}
                                                    <p>Hozircha rasm mavjud emas</p>
                                                {% endif %}
                                            </div>
                                            <div class="trend-bottom-cap">
                                                <span class="color1">{{ all_post.category.name }}</span>
                                                <h4><a href="{% url 'post_detail' all_post.slug %}">{{ all_post.title }}</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Hozircha postlar yo'q</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Right Sidebar Content -->
                    <div class="col-lg-4">
                        <!-- Latest Jamiyat Post -->
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_jamiyat_post.image %}
                                    <img src="{{ latest_jamiyat_post.image.url }}" alt="{{ latest_jamiyat_post.title }}" width="120" height="100">
                                {% else %}
                                    <p>Hozircha postlar yo'q</p>
                                {% endif %}
                            </div>
                            <div class="trand-right-cap">
                                <span class="color3">{{latest_jamiyat_post.category.name}}</span>
                                <h4><a href="{% url 'post_detail' latest_jamiyat_post.slug %}">{{ latest_jamiyat_post.title }}</a></h4>
                            </div>
                        </div>

                        <!-- Latest Sport Post -->
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_sport_post.image %}
                                    <img src="{{ latest_sport_post.image.url }}" alt="{{ latest_sport_post.title }}" width="120" height="100">
                                {% else %}
                                    <p>Hozircha postlar yo'q</p>
                                {% endif %}
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1">{{ latest_sport_post.category.name }}</span>
                                <h4><a href="{% url 'post_detail' latest_sport_post.slug %}">{{ latest_sport_post.title }}</a></h4>
                            </div>
                        </div>

                        <!-- Other Categories... -->
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_jahon_post.image %}
                                    <img src="{{ latest_jahon_post.image.url }}" alt="{{ latest_jahon_post.title }}" width="120" height="100">
                                {% else %}
                                    <p>Hozircha postlar yo'q</p>
                                {% endif %}
                            </div>
                            <div class="trand-right-cap">
                                <span class="color2">{{ latest_jahon_post.category.name }}</span>
                                <h4><a href="{% url 'post_detail' latest_jahon_post.slug %}">{{ latest_jahon_post.title }}</a></h4>
                            </div>
                        </div>

                        <!-- Latest Fantexnika Post -->
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_fantexnika_post.image %}
                                    <img src="{{ latest_fantexnika_post.image.url }}" alt="{{ latest_fantexnika_post.title }}" width="120" height="100">
                                {% else %}
                                    <p>Hozircha postlar yo'q</p>
                                {% endif %}
                            </div>
                            <div class="trand-right-cap">
                                <span class="color4">{{latest_fantexnika_post.category.name}}</span>
                                <h4><a href="{% url 'post_detail' latest_fantexnika_post.slug %}">{{latest_fantexnika_post.title}}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->

    <!-- Weekly-News -->
    <div class="weekly-news-area pt-50">
        <div class="container">
           <div class="weekly-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Jamiyat</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="weekly-news-active dot-style d-flex dot-style">
                            {% for jamiyat_post in jamiyat_posts %}
                                <div class="weekly-single {% if forloop.first %}active{% endif %}">
                                    <div class="weekly-img">
                                        {% if jamiyat_post.image %}
                                            <img src="{{ jamiyat_post.image.url }}" alt="{{ jamiyat_post.title }}" width="360" height="420">
                                        {% else %}
                                            <p>Hozircha postlar yo'q</p>
                                        {% endif %}
                                    </div>
                                    <div class="weekly-caption">
                                        <span class="color1">{{ jamiyat_post.category.name }}</span>
                                        <h4><a href="#">{{ jamiyat_post.title }}</a></h4>
                                    </div>
                                </div>
                            {% empty %}
                                <p>Hozircha postlar yo'q</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- End Weekly-News -->

</main>
{% endblock %}
