
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}

    <main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
<!--                &lt;!&ndash; Trending Tittle &ndash;&gt; eng so'nggi yangilik-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-tittle">
                            <strong>Qaynoq yangiliklar</strong>
                            <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                            <div class="trending-animated">
                                <ul id="js-news" class="js-hidden">
                                    {% for post in latest_posts %}
                                    {% if post %}
                                        <li class="news-item">{{ post.title }}</li>
                                    {% endif %}
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Top -->
                         <div class="trending-top mb-30">
                            <div class="trend-top-img">
                                {% if latest_post.image %}
                                    <img src="{{ latest_post.image.url }}" alt="So'nggi xabarlar">
                                {% endif %}

                                <div class="trend-top-cap">
                                    <span>{{ latest_post.category.name }}</span>
                                    <h2>
                                        <a href="#">{{ latest_post.title }}</a>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <!-- Trending Bottom -->
                        <div class="trending-bottom">
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="single-bottom mb-35">
                                    <div class="trend-bottom-img mb-30">
                                        {% if post_jamiyat.image %}

                                            <img src="{{ post_jamiyat.image.url }}" alt="{{post_jamiyat.title}}" width="240" height="160">
                                        {% endif %}
                                    </div>

                                    <div class="trend-bottom-cap">
                                        <span class="color1">{{post_jamiyat.category.name}}</span>
                                        <h4><a href="#">{{post_jamiyat.title}}</a></h4>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        <div class="trend-bottom-img mb-30">
                                            {% if post_sport.image %}
                                                <img src="{{ post_sport.image.url }}" alt="{{ post_sport.title }}" width="240" height="160">
                                            {% endif %}
                                        </div>

                                        <div class="trend-bottom-cap">
                                            <span class="color2">{{post_sport.category.name}}</span>
                                            <h4><a href="#">{{post_sport.title}}</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        <div class="trend-bottom-img mb-30">
                                            {% if post_jahon.image%}
                                                <img src="{{post_jahon.image.url }}" alt="{{post_jahon.title}}" width="240" height="160">
                                            {% endif %}
                                        </div>

                                        <div class="trend-bottom-cap">
                                            <span class="color3">{{post_jahon.category.name}}</span>
                                            <h4><a href="#"> {{post_jahon.title }}</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Riht content -->
                    <div class="col-lg-4">
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_jamiyat_post.image %}
                                    <img src="{{ latest_jamiyat_post.image.url }}" alt="{{ latest_jamiyat_post.title }}" width="120" height="100">
                                {% endif %}
                            </div>

                            <div class="trand-right-cap">
                                <span class="color3">{{latest_jamiyat_post.category.name}}</span>
                                <h4>
                                    <a href="#">
                                        {{ latest_jamiyat_post.title }}
                                    </a>
                                </h4>
                            </div>
                        </div>


                        <div class="trand-right-single d-flex">
                             <div class="trand-right-img">
                                {% if latest_sport_post.image %}
                                     <img src="{{ latest_sport_post.image.url }}" alt="{{ latest_sport_post.title }}" width="120" height="100">
                                {% endif %}
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1">{{ latest_sport_post.category.name }}</span>
                                <h4>
                                    <a href="#">
                                        {{ latest_sport_post.title }}
                                    </a>
                                </h4>
                            </div>

                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_jahon_post.image %}
                                    <img src="{{ latest_jahon_post.image.url }}" alt="{{ latest_jahon_post.title }}" width="120" height="100">
                                {% endif %}
                            </div>

                            <div class="trand-right-cap">
                                <span class="color2">{{ latest_jahon_post.category.name}}</span>
                                <h4><a href="#">{{ latest_jahon_post.title }}</a></h4>
                            </div>
                        </div> 
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_fantexnika_post.image %}
                                <img src="{{ latest_fantexnika_post.image.url }}" alt="{{ latest_fantexnika_post.titile }}" width="120" height="100">
                                {% endif %}
                            </div>


                            <div class="trand-right-cap">
                                <span class="color4">{{latest_fantexnika_post.category.name}}</span>
                                <h4><a href="#">{{latest_fantexnika_post.title}}</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                {% if latest_madaniyat_post.image %}
                                    <img src="{{ latest_madaniyat_post.image.url }}" alt="{{ latest_madaniyat_post.title }}" width="120" height="100">
                                {% endif %}
                            </div>

                            <div class="trand-right-cap">
                                <span class="color1">{{latest_madaniyat_post.category.name}}</span>
                                <h4><a href="#">{{latest_madaniyat_post.title}}</a></h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->
    <!--   Weekly-News start -->
    <div class="weekly-news-area pt-50">
        <div class="container">
           <div class="weekly-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Jamiyat</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="weekly-news-active dot-style d-flex dot-style">
                            {% for jamiyat_post in jamiyat_posts %}
                            <div class="weekly-single {% if forloop.first %}active{% endif %}">
                                <div class="weekly-img">
                                    {% if jamiyat_post.image %}
                                        <img src="{{ jamiyat_post.image.url }}" alt="{{ jamiyat_post.title }}" width="360" height="420">
                                    {% endif %}
                                </div>

                                <div class="weekly-caption">
                                    <span class="color1">{{ jamiyat_post.category.name }}</span>
                                    <h4>
                                        <a href="#">{{ jamiyat_post.title }}</a>
                                    </h4>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

           </div>
        </div>
    </div>           
    <!-- End Weekly-News -->
   <!-- Whats New Start -->

    <!-- Whats New End -->
    <!--   Weekly2-News start -->
    <div class="weekly2-news-area  weekly2-pading gray-bg">
        <div class="container">
            <div class="weekly2-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Weekly Top News</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="weekly2-news-active dot-style d-flex dot-style">
                            <div class="weekly2-single">
                               <div class="weekly2-img">
                                    <img src="{% static 'assets/img/news/weekly2News1.jpg' %}" alt="">
                                </div>

                                <div class="weekly2-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="{% static 'assets/img/news/weekly2News2.jpg' %}" alt="">
                                </div>

                                <div class="weekly2-caption">
                                    <span class="color1">Event night</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="{% static 'assets/img/news/weekly2News3.jpg' %}" alt="">
                                </div>

                                <div class="weekly2-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                             <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="{% static 'assets/img/news/weekly2News4.jpg' %}" alt="">
                                </div>

                                <div class="weekly2-caption">
                                    <span class="color1">Event time</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                             <div class="weekly2-single">
                            <div class="weekly2-img">
                                <img src="{% static 'assets/img/news/weekly2News4.jpg' %}" alt="">
                            </div>

                                <div class="weekly2-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>           
    <!-- End Weekly-News -->
    <!-- Start Youtube -->
    <div class="youtube-area video-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video-items-active">
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/CicQIuG8hBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video-items text-center">
                            <iframe  src="https://www.youtube.com/embed/rIz00N40bag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/CONfhrASy44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/lq6fL2ROWf8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         
                        </div>
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/0VxlQlacWV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-info">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="video-caption">
                            <div class="top-caption">
                                <span class="color1">Politics</span>
                            </div>
                            <div class="bottom-caption">
                                <h2>Welcome To The Best Model Winner Contest At Look of the year</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ipsum dolor sit lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testmonial-nav text-center">
                            <div class="single-video">
                                <iframe  src="https://www.youtube.com/embed/CicQIuG8hBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="video-intro">
                                    <h4>Welcotme To The Best Model Winner Contest</h4>
                                </div>
                            </div>
                            <div class="single-video">
                                <iframe  src="https://www.youtube.com/embed/rIz00N40bag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="video-intro">
                                    <h4>Welcotme To The Best Model Winner Contest</h4>
                                </div>
                            </div>
                            <div class="single-video">
                                <iframe src="https://www.youtube.com/embed/CONfhrASy44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="video-intro">
                                    <h4>Welcotme To The Best Model Winner Contest</h4>
                                </div>
                            </div>
                            <div class="single-video">
                                <iframe src="https://www.youtube.com/embed/lq6fL2ROWf8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="video-intro">
                                    <h4>Welcotme To The Best Model Winner Contest</h4>
                                </div>
                            </div>
                            <div class="single-video">
                                <iframe src="https://www.youtube.com/embed/0VxlQlacWV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="video-intro">
                                    <h4>Welcotme To The Best Model Winner Contest</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- End Start youtube -->
    <!--  Recent Articles start -->
    <div class="recent-articles">
        <div class="container">
           <div class="recent-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Recent Articles</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="recent-active dot-style d-flex dot-style">
                            <div class="single-recent mb-100">
                                <div class="what-img">
                                    <img src="{% static 'assets/img/news/recent1.jpg' %}" alt="">
                                </div>

                                <div class="what-cap">
                                    <span class="color1">Night party</span>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                            <div class="single-recent mb-100">
                            <div class="what-img">
                                <img src="{% static 'assets/img/news/recent2.jpg' %}" alt="">
                            </div>

                                <div class="what-cap">
                                    <span class="color1">Night party</span>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                            <div class="single-recent mb-100">
                                <div class="what-img">
                                    <img src="{% static 'assets/img/news/recent3.jpg' %}" alt="">
                                </div>

                                <div class="what-cap">
                                    <span class="color1">Night party</span>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                            <div class="single-recent mb-100">
                            <div class="what-img">
                                <img src="{% static 'assets/img/news/recent2.jpg' %}" alt="">
                            </div>

                                <div class="what-cap">
                                    <span class="color1">Night party</span>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>           
    <!--Recent Articles End -->
    <!--Start pagination -->
    <div class="pagination-area pb-45 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                              <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                              <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End pagination  -->
    </main>

{% endblock %}
    
